.selectedPage{
    font-weight: bold;
    color: #A3F7BF;
    font-size: x-large;
}
.paginator {
    font-family:'Verdana';
}


.pageNumber {
    margin: 1%;
    border-radius: 40%;
    padding: 2px;
    border: 1px solid #27323A;
}

.pageNumber:hover {
    color:#A3F7BF;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}