.dark{
    font-weight: bold;
    color: rgba(254,191,16, 0.8);
    font-size: x-large;
}

.bright{
    font-weight: bold;
    color: rgba(127, 83, 172);
    font-size: x-large;
}

.paginator {
    font-family:'Verdana';
}


.pageNumber {
    margin: 1%;
    border-radius: 40%;
    padding: 2px;
    border: 1px solid #27323A;
}

.pageNumber:hover {
    color: #29A19C;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}