.container {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
            'photo description'
            'status description';
}

@media(max-width: 900px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .photo img{
        margin-left: 24%;
    }
}

@media(max-width: 800px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
}


.photo img{
    grid-area: photo;
    border-radius: 50px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;
}


.status{
    grid-area: status;
    margin: 2% 10%;
}

.imgDownload,
.saveButton,
.editButton{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.description{
    grid-area: description;
}

.wrapper{
    text-align: center;
    padding: 1% 1%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 2fr 2fr;
    grid-gap: 5%;
    grid-template-areas:
        'fullName  fullName'
        'lookingForJob  lookingForJob'
        'aboutMe  aboutMe'
        'skills skills'
        'contacts contacts'
;
}

.wrapperForm{
    text-align: center;
    padding: 1% 1%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 6fr;
    gap: 1%;
    grid-template-areas:
        'fullName  fullName'
        'lookingForJob  lookingForJob'
        'aboutMe  skills'
        'contacts contacts'
;
}

.formSummaryError{

}

.fullName {
    grid-area: fullName;
    font-size: xx-large;
    padding: 0 0 4% 0;
}

.lookingForJob{
    grid-area: lookingForJob
}

.skills{
    grid-area: skills;
}

.skills div{
    margin-top: 2%;
}

.aboutMe{
    grid-area: aboutMe;
}

.aboutMe div{
    margin-top: 2%;
}

.contacts{
    grid-area: contacts;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.contactsForm{
    grid-area: contacts;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.contacts img{
     max-width: 50px;
}

.facebook{
}

.contactsInside2 {
    display: flex;
    justify-content: flex-end;
}
.contactsInside2 b{
    transform: translateY(30%);

}

